/* Base styles for all components */
.component {
  margin: 10px 0;
  border: 2px dashed #ccc;
  padding: 10px;
  position: relative;
}
.component h2 {
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
.label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input,
.numberInput,
.answerInput,
.text,
.number {
  width: 100%;
  padding: 8px;
  border: 1px solid #bebebe;
  border-radius: 4px;
}

.text,
.number {
  background-color: var(--color-background);
}

.answerInput {
  border: 1px solid var(--color-info);
}

/* Styles specific to editing mode */
.editing .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editing .editIcon {
  cursor: pointer;
  margin-left: 5px;
}

.editing .editField {
  display: block;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px dashed var(--color-info);
  padding: 0.25rem;
  width: 80%;
}

.editing .input {
  border-color: var(--color-info);
}

/* Checkbox specific styles */
.checkboxGroup {
  display: flex;
  flex-direction: column;
}

.checkbox {
  margin-bottom: 5px;
}

.checkboxInput {
  margin-right: 10px;
}

.answerCheckbox {
  border: 1px solid var(--color-info);
  padding: 5px;
}

.optionControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionButton {
  background-color: var(--color-info);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 5px;
}

.optionButton.remove {
  margin: 0;
  margin-left: 1rem;
  background-color: var(--color-danger);
}
/* ERRORS */
.errorMessage {
  color: var(--color-danger);
  font-size: 0.8rem;
  margin-top: 5px;
}

.component .errorColor {
  color: var(--color-danger);
}

.errorBorder {
  border: 2px solid var(--color-danger);
}
